[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
pytest-asyncio = "*"
aioresponses = "*"
pytest-mock = "*"

[packages]
aiohttp = ">=3.7"
ciso8601 = ">=2.3.0"
pytz = ">=2021.1"
happiestbaby-api = {file = ".", editable = true}

[requires]
python_version = "3.8"
